@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/*-------Sign Up Start-------*/

.BG{
  background-color: rgb(27, 33, 46);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.BG h3{
  font-size: 25px;
  color: rgb(100, 100, 100);
}
.BG h2{
  font-size: 50px;
  line-height: 1;
  font-weight: 500;
  color: rgb(241, 241, 241);
}
.BG h4{
  font-size: 20px;
  font-weight: 400;
  color: rgb(100, 100, 100);
}
.BG a{
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.BG input{
  width:450px;
  font-size: 15px;
height: 50px;
margin-top: 10px;
padding: 20px;
color: white;
border: none;
outline: none;
border-radius: 20px;
background-color: rgb(40, 47, 61);
}
.textbox{
  width: 500px;
}
.BG select{
  width:450px;
  font-size: 15px;
height: 50px;
padding-left: 10px;
color: white;
border: none;
margin-top: 10px;
outline:rgb(1, 113, 179);
border-radius: 20px;
background-color: rgb(40, 47, 61);
}
.BG-OneSide{
  margin-left: 100px;
  padding-top: 400px;
  padding-bottom: 323px;
}
.BG-OneSide .department{
  margin-left: 7px;
margin-top: 10px;
}
.BG button{
  width:250px;
  font-size: 18px;
height: 50px;
padding-left: 10px;
color: white;
border: 1px solid rgb(0, 58, 92);
margin-top: 10px;
border-radius: 20px;
background-color: rgb(1, 113, 179);
}
.Error-Text h4{
  color: red;
}

/*-------Sign Up End-------*/

/*-------Log In Start-------*/

.Login{
  background-color: rgb(27, 33, 46);
  height: 1120px;
  width: 1920px;
}
.Login h3{
  font-size: 25px;
  color: rgb(100, 100, 100);
}
.Login h2{
  font-size: 50px;
  line-height: 1;
  font-weight: 500;
  color: rgb(241, 241, 241);
}
.Login h4{
  font-size: 20px;
  font-weight: 400;
  color: rgb(100, 100, 100);
}
.Login a{
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.Login input{
  width:450px;
  font-size: 15px;
height: 50px;
margin-top: 10px;
padding: 20px;
color: white;
border: none;
outline: none;
border-radius: 20px;
background-color: rgb(40, 47, 61);
}
.textbox{
  width: 500px;
}
.Login select{
  width:450px;
  font-size: 15px;
height: 50px;
padding-left: 10px;
color: white;
border: none;
margin-top: 10px;
outline:rgb(1, 113, 179);
border-radius: 20px;
background-color: rgb(40, 47, 61);
}
.Login-OneSide{
  margin-left: 100px;
  padding-top: 400px;
}
.Login-OneSide .department{
  margin-left: 7px;
margin-top: 10px;
}
.Login button{
  width:250px;
  font-size: 18px;
height: 50px;
padding-left: 10px;
color: white;
border: 1px solid rgb(0, 58, 92);
margin-top: 10px;
border-radius: 20px;
background-color: rgb(1, 113, 179);
}

/*-------Log In End-------*/

/*========== Appointment ===============*/

.Appointment-Inputs{
width: 700px;
height: 1245px;
margin-left: 50px;
padding-top: 50px;
}
.Appointment-Inputs input{
  border: rgb(190, 190, 190) 1px solid;
margin-top: 10px;
height: 35px;
outline: none;
  width: 300px;
  background-color: rgb(250, 250, 250) ;
  margin-left: 5px;
  padding: 3px;
}
.Appointment-Inputs textarea{
  border: rgb(190, 190, 190) 1px solid;
margin-top: 10px;
  width: 605px;
  background-color: rgb(250, 250, 250) ;
  margin-left: 5px;
  outline: none;
  height: 160px;
  padding: 3px;
}
.Appointment-Inputs select{
  border: rgb(190, 190, 190) 1px solid;
margin-top: 10px;
width: 405px;
outline: none;
  background-color: rgb(250, 250, 250) ;
  margin-left: 5px;
  height: 30px;
  padding: 3px;
}
.Appointment-Inputs .Submit-btn{
  border: white 1px solid;
margin-top: 5px;
width: 150px;
cursor: pointer;
color: white;
outline: none;
  background-color: rgb(44, 138, 226) ;
  margin-left: 5px;
  height: 40px;
  padding: 3px;
}
.Appointment-Full-Div h4{
font-size: 18px;
font-weight: 400;
margin-top: 5px;
margin-left: 5px;
}
.Appointment-Full-Div{

  background-color: rgb(37, 122, 201);
  color: white;
}
.Appointment-Full-Div h3{
  font-size: 18px;
  font-weight: 400;
  color: red;
  margin-left: 5px;
  }
/*========== Appointment ===============*/



